/*** Body and Typography ***/
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

h1, h2 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(54, 32, 32);
    text-align: center;
}

h1 {
    font-size: 24px!important; /*TODO Remove bad practice*/
    color: #333;
}

h2 {
    font-size: 18px!important; /*TODO Remove bad practice*/
    color: #555;
}

/*** Layout ***/
.cnt-body {
    display: flex;
    flex-direction: row;
    height: 98vh;
    width: 100vw;
    /* background-color: red; */
    flex-wrap: wrap;
}

.cnt-white-box {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
    display: block;
}
.cnt-copyright {
    height: 2vh;
    overflow: hidden;
    text-align: center;
    color: #555;
    font-size: 10px;
}
/**** Player ****/
.cnt-youtubeplayer {
    background-color: rgb(27, 25, 25);
    flex: 1;
    height: 90%; /*TODO Fix Bad coding*/
}
.cnt-youtubeplayer iframe {
    width: 100%;
    height: 100%;
}

.cnt-main {
    flex-grow: 0;
    flex-shrink: 0;
    flex: 60;
}

.catalog {
    flex-grow: 0;
    flex-shrink: 0;
    flex: 20;
}

.cnt-details {
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    flex: 20;
}
.fixed-size {
    overflow-y: scroll;
    max-height: 190px; /*TODO bad practice*/
}
/***** Search *****/
.search-container {
    position: relative;
    display: inline-block;
}
.dropdown {
    position: absolute;
    left: 74.5%;   
    z-index: 2;
}

.dropdown-content {
    display: none;
    z-index: 1;
    background-color: aliceblue;
}
#video-list {
    max-height: 650px;/* TODO bad practice */
}
#video-list > div {
    height: fit-content;
}
.highlight {
    background-color: lightyellow; /* You can customize the highlighting style */
    font-weight: bold;       /* Add any additional styling you want for highlighted notes */
}
.icon{
    pointer-events: none;
}